<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <!-- Removed "Start Bootstrap" brand -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!/allproduct">All Products</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="#!admin">Admin</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <!-- Added "Login" and "Signup" buttons -->
                <button id="login1" ng-if="!isLoggedIn()" style="width: 75px;" class="btn btn-outline-dark me-2"
                    type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><a
                        style="color: black; text-decoration: none;" href="#!/login">Login</a>
                </button>

                <!-- Add ng-show directive to conditionally show the greeting message -->
                <button style="height: 40px;" id="login1" ng-show="isLoggedIn()" style="width: 75px;" class="btn btn-outline-dark me-2"
                    type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Xin Chào: {{getUsername}}
                </button>
                
                
                <button ng-if="!isLoggedIn()" id="signup1" data-bs-toggle="modal" data-bs-target="#exampleModal2"
                    class="btn btn-outline-dark mx-3" type="submit"><a href="#!/signup">Signup</a></button>
                 
                    <button ng-show="isLoggedIn()" ng-click="handleLogout()" id="signup1" data-bs-toggle="modal" data-bs-target="#exampleModal2"
                    class="btn btn-outline-dark mx-3" type="submit">Logout</button>

                <button ng-show="isLoggedIn()"  style="margin-left: 15px;" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" class="btn btn-outline-warning"
                    type="submit">
                    <i class="bi-ca rt-fill me-1"></i>
                   <a style="color: black; text-decoration: none;" href="#!/checkout"> Cart</a>
                    <span ng-model="slCard" id="slCard" class="badge bg-dark text-white ms-1 rounded-pill">{{slCard}}</span>
                </button>
            </form>
        </div>
    </div>
</nav>
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
        
            <h1 class="display-4 fw-bolder">S Shop </h1>
            <p class="lead fw-normal text-white-50 mb-0">We bring good things to life</p>
        </div>
    </div>
</header>
<div class="row">
    <div class="col-3 mt-3" ng-repeat="product in listProduct| limitTo: 8 ">
        <div class="card" style="width: 18rem;">
            <img style="height: 300px;" src="{{product.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.price}}$</p>
                <button type="button" ng-click="handleBuyCart(product.id)" class="btn btn-primary" >Add to cart</button>
            </div>
        </div>
    </div>
</div>
<footer class="py-5 bg-dark mt-3">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2024</p>
    </div>
</footer>