

<div class="wrapper">
    <aside id="sidebar">
        <div class="d-flex">
            <button class="toggle-btn" type="button">
                <i class="lni lni-grid-alt"></i>
            </button>
            <div class="sidebar-logo">
                <a href="#">CodzSword</a>
            </div>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="#!/admin" class="sidebar-link">
                    <i class="lni lni-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#!/odersAll" class="sidebar-link">
                    <i class="lni lni-agenda"></i>
                    <span>Task</span>
                </a>
            </li>
           
        
        </ul>
        <div class="sidebar-footer">
            <a href="#!/logout" class="sidebar-link">
                <i class="lni lni-exit"></i>
                <span>Logout</span>
            </a>
        </div>
    </aside>
    <div class="main">
        <nav class="navbar navbar-expand px-4 py-3">
            <form action="#" class="d-none d-sm-inline-block">

            </form>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                                       <div class="dropdown-menu dropdown-menu-end rounded">

                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="content px-3 py-4">
            <div class="container-fluid">
                <div class="mb-3">
                    <h3 class="fw-bold fs-4 mb-3">Admin Dashboard</h3>
                        
                      
                        
    
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                               <div class="row">
                                   <div class="col-12">
                                       <h1>Quản lí order</h1>
                                     
                                       <table class="table table-striped">
                                           <thead>
                                               <tr class="highlight">
                                                   <th scope="col">#</th>
                                                   <th scope="col">User Buy</th>
                                                   <th scope="col">Phone</th>
                                                   <th scope="col">Address</th>
                                                   <th scope="col">Product Name</th>
                                                   <th scope="col">Image</th>
                                                   <th scope="col">Price</th>
                                                   <th scope="col">Status</th>
                                                   <th scope="col">Handle</th>
                                               </tr>
                                           </thead>
                                           <tbody>
                                               <tr ng-repeat="item in orders">
                                                   <th scope="row">{{item.id}}</th>
                                                   <td>{{item.username}}</td>
                                                   <td>{{item.phone}}</td>
                                                   <td>{{item.address}}</td>
                                                   <td>{{item['product-card'][0].name}}</td>
                                                   <td><img style="width: 60px; height: 60px;" src="{{item['product-card'][0].image}}"alt=""></td>
                                                   <td>{{item['product-card'][0].price}}</td>
                                                   <td>{{ item.status ? item.status : 'Chưa xác nhận' }}</td>
                                                    <td>
                                                      <button class="btn btn-success" ng-click="handleXacNhan(item.id)">Xác Nhận</button>
                                                   </td>
                                                   
                                               </tr>
                                             
                                           </tbody>
                                       </table>
                                       <div ><a class="btn btn-warning" href="#!/admin">Quay Lại</a></div>
                                   </div>
                               </div>
                            </div>
                       </div>
                    
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row text-body-secondary">
                    <div class="col-6 text-start ">
                        <a class="text-body-secondary" href=" #">
                            <strong>CodzSwod</strong>
                        </a>
                    </div>
                    <div class="col-6 text-end text-body-secondary d-none d-md-block">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="text-body-secondary" href="#">Contact</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-body-secondary" href="#">About Us</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-body-secondary" href="#">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="../lib/js/script.js"></script>



